<a href="https://colab.research.google.com/github/amrrahman1/Abalone-linear-regression/blob/main/Abalone_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [18]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/abalone.data', sep = ',', names = ['Sex', 'Lenght ', 'Diameter', 'Height','Whole weight','Shucked weight','Viscera weight', 'Shell weight', 'Rings'])

df.head()

  Sex  Lenght   Diameter  ...  Viscera weight  Shell weight  Rings
0   M    0.455     0.365  ...          0.1010         0.150     15
1   M    0.350     0.265  ...          0.0485         0.070      7
2   F    0.530     0.420  ...          0.1415         0.210      9
3   M    0.440     0.365  ...          0.1140         0.155     10
4   I    0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Lenght          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [20]:
df.duplicated().sum()

0

In [21]:
print('unique Sex', df['Sex'].unique())
print('\n')

unique Sex ['M' 'F' 'I']

In [22]:
#1) Separate your data into the features matrix (X) and target vector (y).
X = df.drop(columns=['Rings'])
y = df['Rings']

In [23]:
#2) Create a train, test, split on the data. Please use random number 42 for consistency.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [24]:
#3 a) Use column_selector to select the categorical columns and the numerical columns
cat_sel = make_column_selector(dtype_include='object')
num_sel = make_column_selector(dtype_include='number')

In [25]:
#3 b) Use column_transformer to match the transformation to the type of column
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [26]:
# 4) Instantiate make_pipeline()

ohe_tuple = (encoder, cat_sel)


col_transformer = make_column_transformer(ohe_tuple,remainder='passthrough')

In [27]:
#5) Fit your pipeline on the training data
lin_reg = LinearRegression()
pipe = make_pipeline(col_transformer, lin_reg)

pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f1a0da638d0>)],
                                   verbose=False)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [28]:
#6) Find the R^2 value of your model for both the training and test sets

print(f'Train R2: {r2_score(y_train, pipe.predict(X_train))}')
print(f'Test R2: {r2_score(y_test, pipe.predict(X_test))}')

Train R2: 0.5344208330176741
Test R2: 0.5457612372619376