<a href="https://colab.research.google.com/github/amrrahman1/Abalone-linear-regression/blob/main/Abalone_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/abalone.data', sep = ',', names = ['Sex', 'Lenght ', 'Diameter', 'Height','Whole weight','Shucked weight','Viscera weight', 'Shell weight', 'Rings'])

df.head()

  Sex  Lenght   Diameter  ...  Viscera weight  Shell weight  Rings
0   M    0.455     0.365  ...          0.1010         0.150     15
1   M    0.350     0.265  ...          0.0485         0.070      7
2   F    0.530     0.420  ...          0.1415         0.210      9
3   M    0.440     0.365  ...          0.1140         0.155     10
4   I    0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Lenght          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [5]:
# creating a new column for age "adding 1.5 to rings"
df['Age']= df['Rings'] + 1.5
df.head()

  Sex  Lenght   Diameter  Height  ...  Viscera weight  Shell weight  Rings   Age
0   M    0.455     0.365   0.095  ...          0.1010         0.150     15  16.5
1   M    0.350     0.265   0.090  ...          0.0485         0.070      7   8.5
2   F    0.530     0.420   0.135  ...          0.1415         0.210      9  10.5
3   M    0.440     0.365   0.125  ...          0.1140         0.155     10  11.5
4   I    0.330     0.255   0.080  ...          0.0395         0.055      7   8.5

[5 rows x 10 columns]

In [7]:
#1) Transform the categorical variable (sex) by dummy encoding it.
dummy_sex = pd.get_dummies(df['Sex'])

df = pd.merge(
    left=df,
    right=dummy_sex,
    left_index=True,
    right_index=True,
)
df.head()

  Sex  Lenght   Diameter  Height  Whole weight  ...  Rings   Age  F  I  M
0   M    0.455     0.365   0.095        0.5140  ...     15  16.5  0  0  1
1   M    0.350     0.265   0.090        0.2255  ...      7   8.5  0  0  1
2   F    0.530     0.420   0.135        0.6770  ...      9  10.5  1  0  0
3   M    0.440     0.365   0.125        0.5160  ...     10  11.5  0  0  1
4   I    0.330     0.255   0.080        0.2050  ...      7   8.5  0  1  0

[5 rows x 13 columns]

In [8]:
# Import label encoder 
from sklearn import preprocessing
#couldnt get a regression because Sex was an object
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'Sex'. 
df['Sex']= label_encoder.fit_transform(df['Sex']) 
print(df.head())

   Sex  Lenght   Diameter  Height  Whole weight  ...  Rings   Age  F  I  M
0    2    0.455     0.365   0.095        0.5140  ...     15  16.5  0  0  1
1    2    0.350     0.265   0.090        0.2255  ...      7   8.5  0  0  1
2    0    0.530     0.420   0.135        0.6770  ...      9  10.5  1  0  0
3    2    0.440     0.365   0.125        0.5160  ...     10  11.5  0  0  1
4    1    0.330     0.255   0.080        0.2050  ...      7   8.5  0  1  0

[5 rows x 13 columns]

In [9]:
#2) Separate your data into the features matrix (X) and target vector (y).
X = df.drop(columns = 'Age')
y = df['Age']
#3) Create a train, test, split on the data. Please use random number 42 for consistency.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
train_preds = reg.predict(X_train)
test_preds = reg.predict(X_test)

# Measuring model Performance

In [12]:
train_score = reg.score(X_train, y_train)
print(train_score)

1.0

In [13]:
test_score = reg.score(X_test, y_test)
print(test_score)

1.0